   <div class="row">
            <div class="col-sm-4">
                <div class="contact-box">
                   
                    <div class="col-sm-4 col-xs-12">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="assets/images/team/adriana.jpg">
                            <div class="m-t-xs font-bold">Planning leader</div>
                        </div>
                    </div>
                    <div class="col-sm-8 col-xs-12">
                        <h3><strong>Adriana Rendón</strong></h3>
                        <p><i class="fa fa-map-marker"></i> From Bogotá</p>
                        <address>
                            <strong>Bizagi Studio Team.</strong><br>
                            adriana.rendon@bizagi.com<br>
                            Birthday: April 12th<br>
                            <abbr title="Phone">Phone:</abbr>  312 4430275
                        </address>
                    </div>
                    <div class="clearfix"></div>
                       
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact-box">
                   
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="assets/images/team/angela.jpg">
                            <div class="m-t-xs font-bold">Team leader</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>Angela Archila</strong></h3>
                        <p><i class="fa fa-map-marker"></i> From Sogamoso</p>
                        <address>
                            <strong>Bizagi Studio Team.</strong><br>
                            angela.archila@bizagi.com<br>
                            Birthday : February 16th<br>
                            <abbr title="Phone">Phone:</abbr> 313 3336141
                        </address>
                    </div>
                    <div class="clearfix"></div>
                       
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact-box">
                   
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="assets/images/team/david.jpg">
                            <div class="m-t-xs font-bold">QA Leader</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>David Alexander Ariza</strong></h3>
                        <p><i class="fa fa-map-marker"></i> From Bogotá</p>
                        <address>
                            <strong>Bizagi Studio Team.</strong><br>
                            david.ariza@bizagi.com<br>
                            Birthday: June 19th<br>
                            <abbr title="Phone">Phone:</abbr> 311 2557529
                        </address>
                    </div>
                    <div class="clearfix"></div>
                       
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact-box">
                   
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="assets/images/team/ivan.jpg">
                            <div class="m-t-xs font-bold">Planning leader</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>Iván Avila</strong></h3>
                        <p><i class="fa fa-map-marker"></i> From Montería</p>
                        <address>
                            <strong>Bizagi Studio Team.</strong><br>
                            ivan.avila@bizagi.com<br>
                            Birthday: February 6th<br>
                            <abbr title="Phone">Phone:</abbr> 301 3255558
                        </address>
                    </div>
                    <div class="clearfix"></div>
                       
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact-box">
                   
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="assets/images/team/laura.jpg">
                            <div class="m-t-xs font-bold">Frontend leader</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>Laura Ariza</strong></h3>
                        <p><i class="fa fa-map-marker"></i> From Velez</p>
                        <address>
                            <strong>Bizagi Studio Team.</strong><br>
                            laura.ariza@bizagi.com<br>
                            Birthday: September 2nd<br>
                            <abbr title="Phone">Phone:</abbr> 312 5115036
                        </address>
                    </div>
                    <div class="clearfix"></div>
                       
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact-box">
                   
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="assets/images/team/mario.jpg">
                            <div class="m-t-xs font-bold">QA Leader</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>Mario Franco</strong></h3>
                        <p><i class="fa fa-map-marker"></i> From Tunja</p>
                        <address>
                            <strong>Bizagi Studio Team.</strong><br>
                            mario.franco@bizagi.com<br>
                            Birthday: July 11th<br>
                            <abbr title="Phone">Phone:</abbr> 314 4801962
                        </address>
                    </div>
                    <div class="clearfix"></div>
                       
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact-box">
                   
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="assets/images/team/nicolas.jpg">
                            <div class="m-t-xs font-bold">Fullstack leader</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>Nicolas Rodriguez Herrera</strong></h3>
                        <p><i class="fa fa-map-marker"></i> From Bogotá</p>
                        <address>
                            <strong>Bizagi Studio Team.</strong><br>
                            nicolas.rodriguez@bizagi.com<br>
                            Birthday: April 14th<br>
                            <abbr title="Phone">Phone:</abbr> 316 3158807
                        </address>
                    </div>
                    <div class="clearfix"></div>
                       
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact-box">
                   
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="assets/images/team/oscar.jpg">
                            <div class="m-t-xs font-bold">Architecture leader</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>Oscar Ocampo</strong></h3>
                        <p><i class="fa fa-map-marker"></i> From Bogotá</p>
                        <address>
                            <strong>Bizagi Studio Team.</strong><br>
                            oscar.ocampo@bizagi.com<br>
                            Birthday: July 15th<br>
                            <abbr title="Phone">Phone:</abbr> 310 3300958
                        </address>
                    </div>
                    <div class="clearfix"></div>
                       
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact-box">
                   
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="assets/images/team/victor.jpg">
                            <div class="m-t-xs font-bold">Frontend leader</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>Victor Chavarro</strong></h3>
                        <p><i class="fa fa-map-marker"></i> From Cali</p>
                        <address>
                            <strong>Bizagi Studio Team.</strong><br>
                            victor.chavarro@bizagi.com<br>
                            Birthday: August 3rd<br>
                            <abbr title="Phone">Phone:</abbr> 304 3789490
                        </address>
                    </div>
                    <div class="clearfix"></div>
                       
                </div>
            </div>
</div>