<div class="row">
    <div class="col-sm-12">
        <div class="widget navy-bg p-lg text-center">
            <div class="m-b-md">
                    <i class="fa fa-flash fa-4x"></i>
                    <h3 class="m-xs">Test reports</h3>
                    <a href ="http://devs-usabci/reports/index.html" target="_blank">
                        <small>OPEN TEST REPORT</small>
                    </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>AGORA QUALITY FILES</h5>
            </div>
             <div class="ibox-content">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Document name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><a href="https://agora.bizagi.com/bizagi/dev/Docs/TeamDocuments/06_BizagiStudio/Quality/BAS%20-%20FrontEnd%20Coding%20Guidelines.docx" target="_blank"><i class="fa fa-file-word-o"></i> BAS -FrontEnd Coding Guidelines</td>
                        </tr> 
                        <tr>
                            <td>2</td>
                            <td><a href="https://agora.bizagi.com/bizagi/dev/Docs/TeamDocuments/06_BizagiStudio/Quality/Coding%20standard.docx" target="_blank"><i class="fa fa-file-word-o"></i> Coding standard</td>
                        </tr> 
                        <tr>
                            <td>3</td>
                            <td><a href="https://agora.bizagi.com/bizagi/dev/Docs/TeamDocuments/06_BizagiStudio/Quality/Quality%20Strategy%20Plan.docx" target="_blank"><i class="fa fa-file-word-o"></i> Quality Strategy plan</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><a href="https://agora.bizagi.com/bizagi/dev/Docs/TeamDocuments/06_BizagiStudio/Quality/Inyecci%C3%B3n%20de%20Dependencias.pptx" target="_blank"><i class="fa fa-file-powerpoint-o"></i> Dependency injection</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>AGORA INTRODUCTION AND TRAINING FILES</h5>
            </div>
             <div class="ibox-content">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Document name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><a href="https://agora.bizagi.com/bizagi/dev/Docs/TeamDocuments/06_BizagiStudio/Induction%20and%20Training/Introduction%20of%20a%20new%20member.docx" target="_blank"><i class="fa fa-file-word-o"></i> Introduction of a new member</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><a href="https://agora.bizagi.com/bizagi/dev/Docs/TeamDocuments/06_BizagiStudio/Induction%20and%20Training/Jira%20Tutorial.docx" target="_blank"><i class="fa fa-file-word-o"></i> Jira tutorial</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><a href="https://agora.bizagi.com/bizagi/dev/Docs/TeamDocuments/06_BizagiStudio/Induction%20and%20Training/INTRODUCCI%C3%93N%20A%20TYPESCRIPT.pptx" target="_blank"><i class="fa fa-file-powerpoint-o"></i> Typescript introduction</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><a href="https://agora.bizagi.com/bizagi/dev/Docs/TeamDocuments/06_BizagiStudio/Induction%20and%20Training/JS%20+%20ANGULAR%20JS.pptx" target="_blank"><i class="fa fa-file-powerpoint-o"></i> JS + ANGLULAR 1.0</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div> 

<div class="row">
    <div class="col-sm-3">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="file-manager">
                               
                    <div class="hr-line-dashed"></div>
                    <h5>Categories</h5>
                    <div class="hr-line-dashed"></div>
                    
                    <ul class="folder-list" style="padding: 0">
                        <li> <i class="fa fa-folder-open"></i> Bizagi 11 </li>
                        <li>
                            <ul class="folder-nivel-one">
                               <li><a category="rubik" class="catalog-document" ><i class="fa fa-files-o"></i> Rubik</a></li>
                               <li><a category="catalog" class="catalog-document" ><i class="fa fa-files-o"></i> Catalog</a></li>
                             </ul> 
                        <li>

                        <li> <i class="fa fa-folder-open"></i> Bizagi next </li>
                        <li>
                            <ul class="folder-nivel-one">
                               <li><a category="cloud" class="catalog-document" ><i class="fa fa-files-o"></i> Cloud</a></li>
                             </ul> 
                        <li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-9">
        <div class="ibox float-e-margins">
            <div class="ibox-content" id="table-document">
                
            </div>
        </div>
    </div>

</div>


              
       