<section class="row resources">
	<div class="col-sm-12">
		<h1>Resources</h1>
		<p>Here is a curated list of places you can start learning.</p>

		<ul class="list resources-list">
			<li class="list-item">
				<article class="row">
					<div class="col-sm-4 col-sx-12 ">
						<a href="https://travel.visionsoftware.com.co/BizagiVsPro/" target="_blank"><img src="assets/images/links/img-vacation.jpg" alt="try javascript" class="img-responsive" /></a>
					</div>
					<div class="col-sm-8 col-xs-12 ">
						<h2>
							<a href="https://travel.visionsoftware.com.co/BizagiVsPro/" target="_blank">Bizagi vacations <i class="fa fa-external-link"></i></a>
						</h2>
						<p>Bizagi vacations request system.</p>
					</div>
				</article>
			</li>

			<li class="list-item">
				<article class="row">
					<div class="col-sm-4 col-sx-12 ">
						<a href="http://devs-usabci:9090/" target="_blank"><img src="assets/images/links/img-teamcity.jpg" alt="try javascript" class="img-responsive" /></a>
					</div>
					<div class="col-sm-8 col-xs-12 ">
						<h2>
							<a href="http://devs-usabci:9090/" target="_blank">Bizagi Teamcity <i class="fa fa-external-link"></i></a>
						</h2>
						<p>Bizagi Teamcity server: Is a Java-based build management and continuous integration server from JetBrains.</p>
					</div>
				</article>
			</li>

			<li class="list-item">
				<article class="row">
					<div class="col-sm-4 col-sx-12 ">
						<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide" target="_blank"><img src="assets/images/links/img-mdn.jpg" alt="try javascript" class="img-responsive" /></a>
					</div>
					<div class="col-sm-8 col-xs-12 ">
						<h2>
							<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide" target="_blank">MDN JavaScript Guide <i class="fa fa-external-link"></i></a>
						</h2>
						<p>A large series of written guides curated by Mozilla and the community. From loops, to text formatting, and even metaprogramming, this is the de facto guide.</p>
					</div>
				</article>
			</li>

			<li class="list-item">
				<article class="row">
					<div class="col-sm-4 col-sx-12 ">
						<a href="https://www.edx.org/course/introduction-typescript-microsoft-dev201x-0#" target="_blank"><img src="assets/images/links/img-typescript.jpg" alt="typescript" class="img-responsive" /></a>
					</div>
					<div class="col-sm-8 col-xs-12 ">
						<h2>
							<a href="https://www.edx.org/course/introduction-typescript-microsoft-dev201x-0#" target="_blank">Introduction to typescript <i class="fa fa-external-link"></i></a>
						</h2>
						<p>TypeScript lets you write JavaScript the way you really want to.  TypeScript is a typed superset of JavaScript that compiles to plain JavaScript.  Any browser. Any host. Any OS. Open Source</p>
					</div>
				</article>
			</li>

			<li class="list-item">
				<article class="row">
					<div class="col-sm-4 col-sx-12 ">
						<a href="http://www.pluralsight.com/" target="_blank"><img src="assets/images/links/img-pluralsight.jpg" alt="pluralsight" class="img-responsive" /></a>
					</div>
					<div class="col-sm-8 col-xs-12 ">
						<h2>
							<a href="http://www.pluralsight.com/" target="_blank">Pluralsight <i class="fa fa-external-link"></i></a>
						</h2>
						<p>Pluralsight deliver world-class training that’s easy to comprehend and quick to learn, 600 authors and 3,000 courses</p>
					</div>
				</article>
			</li>

			<li class="list-item">
				<article class="row">
					<div class="col-sm-4 col-sx-12 ">
						<a href="https://egghead.io/" target="_blank"><img src="assets/images/links/img-egghead.jpg" alt="egghead" class="img-responsive" /></a>
					</div>
					<div class="col-sm-8 col-xs-12 ">
						<h2>
							<a href="https://egghead.io/" target="_blank">Egghead.io <i class="fa fa-external-link"></i></a>
						</h2>
						<p>Bite-sized video training for AngularJS, React, D3, and many other essential modern web technologies.</p>
					</div>
				</article>
			</li>

			<li class="list-item">
				<article class="row">
					<div class="col-sm-4 col-sx-12 ">
						<a href="http://www.codewars.com/" target="_blank"><img src="assets/images/links/img-codewars.jpg" alt="try javascript" class="img-responsive" /></a>
					</div>
					<div class="col-sm-8 col-xs-12 ">
						<h2>
							<a href="http://www.codewars.com/" target="_blank">Codewars <i class="fa fa-external-link"></i></a>
						</h2>
						<p>Codewars is a collective effort by its users. They are creators - authoring kata to teach various techniques, solving kata with solutions that enlighten others, and commenting with constructive feedback. </p>
					</div>
				</article>
			</li>

			<li class="list-item">
				<article class="row">
					<div class="col-sm-4 col-sx-12 ">
						<a href="https://www.javascript.com" target="_blank"><img src="assets/images/links/img-try-js.jpg" alt="try javascript" class="img-responsive" /></a>
					</div>
					<div class="col-sm-8 col-xs-12 ">
						<h2>
							<a href="https://www.javascript.com" target="_blank">Try javaScript <i class="fa fa-external-link"></i></a>
						</h2>
						<p>A short interactive tutorial to get you typing your first JavaScript code. Learning JavaScript is easier than you might think.</p>
					</div>
				</article>
			</li>
			
		</ul>
	</div>
</section>